name: Python CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    # 1️⃣ Récupérer le code du repo
    - uses: actions/checkout@v4

    # 2️⃣ Installer Python
    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.12"

    # 3️⃣ Installer pytest
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest

    # 4️⃣ Lancer job.py
    - name: Run job.py
      run: python job.py

    - name: Run tests
      run: |
        pytest -v


